<div class="page" data-name="engagements" ng-controller="EngagementController">
	<div class="navbar">
		<div class="navbar-bg"></div>
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon icon-back"></i>
					<span class="if-not-md">Back</span>
				</a>
			</div>
			<div class="title">Les Engagements</div>
		</div>
	</div>
	<div class="page-content engage">
        
		<div class="engageTop">
			<div class="eTitle">LES ENGAGEMENTS</div>
			<div class="esubTitle">Agir grâce à ses lunettes c’est possible!</div>
		</div>

		
		<div class="above_list_optk on_opticien eng">

			<div class="optic_tit_cat">ÉCO RESPONSABILITÉ</div>
			
			<table class="tab14">
				<tr>
					<td>
						<div>
							<span class="helper"></span>
							<img src="assets/img/howto/circuit_court.png"/>
						</div>
					</td>
					<td>
						<span style="display:block; color:#817e7e;">CIRCUIT - COURT</span>
						Mise en avant du savoir-faire local et/ou régional
						avec des produits et services sur 30 à 50% 
						du magasin.
					</td>
				</tr>
				<tr>
					<td>
						<div>
							<span class="helper"></span>
							<img src="assets/img/howto/mif_lunettes.png"/>
						</div>
					</td>
					<td>
						<span style="display:block; color:#817e7e;">MADE IN FRANCE</span>
						30 à 50% des produits ou services sont Made in France (MIF)
						ou Origine France Garantie (OFG)
					</td>
				</tr>
				<tr>
					<td>
						<div>
							<span class="helper"></span>
							<img src="assets/img/howto/recyclage.png"/>
						</div>
					</td>
					<td>
						<span style="display:block; color:#817e7e;">RECYCLAGE</span>
						<ul class="usefull_for">
							<li style="color:#656262; font-weight: normal;">Collecte des montures.</li>
							<li style="color:#656262; font-weight: normal;">Utilisation d’eau en circuit fermé.</li>
							<li style="color:#656262; font-weight: normal;">Tri des dechets.</li>
						</ul>
					</td>
				</tr>
			</table>
			
		</div>

		<div class="giresse1"><div></div></div>
		
		<div class="opticien_gray_area eng">
			
			<div class="optic_tit_cat">ACTIONS SOLIDAIRES</div>

			<div class="green" style="font-size:12px; margin-bottom:35px;">
				<table>
					<tr>
						<td style="vertical-align: top;">→</td>
						<td>
							Optic Store Finder distribue jusqu’à 15% de ses revenus 
							trimestriels au profit des associations qu’elle soutient.
						</td>
					</tr>
				</table>
			</div>

			<table class="tab15">
				<tr>
					<td class="sheet-open" data-sheet=".my-sheet-swipe-to-close" ng-click="SetArticle(2)"><div><img src="assets/img/howto/maladies_de_la_vision.png"/></div></td>
					<td class="sheet-open" data-sheet=".my-sheet-swipe-to-close" ng-click="SetArticle(1)"><div><img src="assets/img/howto/protecenfance.png"/></div></td>
					<td class="sheet-open" data-sheet=".my-sheet-swipe-to-close" ng-click="SetArticle(4)"><div><img src="assets/img/howto/luttecancer.jpg"/></div></td>
				</tr>
				<tr>
					<td>Maladies rares de la vision.</td>
					<td>Protection de l’enfance.</td>
					<td>Lutte contre le cancer.</td>
				</tr>
			</table>
			
			<div style="text-align:center"><img src="assets/img/optic/entretien.png" style="width:23%"/></div>

			<p class="center green">
				Pour une paire de lunettes achetée, <br>
				l’opticien engagé reverse à partir de <b>10€</b> (Dix euros) par trimestre,
				un don aux associations qu’elle promeut en magasin.
			</p>
			<p style="text-align:center">
				Le porteur de lunettes engagé soutient son action avec un don 
				à partir de <b>1€</b> (un euros) envers une association partenaire.
				Un point trimestriel vous sera proposé sur l'évolution des partenariats 
				et des dons versés.
			</p>
			<div style="margin-top:50px; text-align: center;">
				<img src="assets/img/logo.png" style="width: 25%;"/>
			</div>
			<div style="margin:20px 0 40px 0; ; text-align: center; color:#1a3d87; font-size:12px; font-weight:bold;">
				Donner du sens à l’achat de ses lunettes.
			</div>
		</div>
		
	</div>
</div>
