<div class="page" data-name="parameters" ng-controller="ParametersController" ng-init="init()">
	
	<div class="navbar">
		<div class="navbar-bg"></div>
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon icon-back"></i>
					<span class="if-not-md">Back</span>
				</a>
			</div>
			<div class="title">Paramètres</div>
			<!--<div class="right">
				<a href="#" class="link" ng-click="init()">
					<div class="f7-icons">eyeglasses</div>
				</a>
			</div>-->
		</div>
	</div>

	<div class="page-content parameter-security">
        <div style="padding-left: 15px; padding-right: 15px; background-color: #F2F2F2; padding-bottom: 20px;">
            &nbsp;
            <div class="op_text_circle">
                <div class="title">Préférence de compte</div>
                <div class="content">
                    <!--Des professionnels de santé diplômés qui prennent le temps de découvrir vos besoins-->

					<div class="list simple-list">
						<ul>
							<li>
								<span>Synchronisation du calendrier</span>
								<label class="toggle toggle-init">
									<input type="checkbox" ng-model="pref.p_synchro_calendar" />
									<span class="toggle-icon" ng-click="pref.p_synchro_calendar=!pref.p_synchro_calendar"></span>
								</label>
							</li>
							<li>
								<span>Désactiver temporairement le compte</span>
								<label class="toggle toggle-init">
									<input type="checkbox" ng-model="pref.p_account_active" />
									<span class="toggle-icon"></span>
								</label>
							</li>
							<li>
								<span>Fermer le compte</span>
								<label class="toggle toggle-init">
									<input type="checkbox" />
									<span class="toggle-icon"></span>
								</label>
							</li>
						</ul>
					</div>

                </div>
            </div>
            <div class="op_text_circle">
                <div class="title">Sécurité</div>
                <div class="content">
                    <!--Des professionnels de santé diplômés qui prennent le temps de découvrir vos besoins-->
					
					<div class="list simple-list">
						<ul>
							<li style="padding: 0;">
								<span>Validation en 2 étapes</span>
								<label class="toggle toggle-init">
									<input type="checkbox" ng-model="pref.p_2steps_verification" />
									<span class="toggle-icon"></span>
								</label>
							</li>
						</ul>
					</div>

                </div>
            </div>
            <div class="op_text_circle">
                <div class="title">Visibilité</div>
                <div class="content">
                    <!--Des professionnels de santé diplômés qui prennent le temps de découvrir vos besoins-->
					
					<div class="list links-list">
						<ul>
							<li>
								<a href="/parameters/1/">Qui peut voir mon profil</a>
							</li>
							<li>
								<a href="/parameters/2/">Qui peut télécharger mes données</a>
							</li>
						</ul>
					</div>
					
                </div>
            </div>
            <div class="op_text_circle">
                <div class="title">Communication</div>
                <div class="content">
                    <!--Des professionnels de santé diplômés qui prennent le temps de découvrir vos besoins-->
					
					<div class="list links-list">
						<ul>
							<li>
								<a href="/parameters/3/">Comment recevoir les notifications</a>
							</li>
							<li>
								<a href="/parameters/4/">Recevoir les informations sur les tendances</a>
							</li>
							<li>
								<a href="/parameters/5/">Recevoir les informations sur les offres de votre opticien favori</a>
							</li>
						</ul>
					</div>
					
                </div>
            </div>
            <div class="op_text_circle">
                <div class="title">Confidentialité des données</div>
                <div class="content">
					
					<div class="list links-list">
						<ul>
							<li>
								<a href="/parameters/7/">Où sont stockées vos données</a>
							</li>
						</ul>
					</div>
					
                </div>
            </div>
        </div>

		<div style="margin:0 15px 80px 15px">
			<button class="col button button-fill button-round" ng-click="request()" ng-show="isLoggedIn()" style="font-size:11px">Obtenir une copie de vos données</button>
		</div>
		
	</div>
</div>
